  .footer {
    font: 18px 'Roboto', sans-serif;
    line-height: 1.5;
    width: 100%;
    position: fixed;
    bottom: 0;}

  body {
      font: 18px 'Roboto', sans-serif;
      line-height: 1.5;
      color: #333;}

  h1 {font: 36px 'Roboto';
      font-weight: 900;
      color: #fff;
      background-color:#6495ED;}

  h2 {font: 28px 'Roboto';
      font-weight: 900;
      color: #fff;}

  img {display: block;
       margin-top: 10px;
       margin-bottom: 10px;
       border-radius: 8px;
       margin-left: auto;
       margin-right: auto;}

  a {color: #6495ED;
     font-weight: 900;}

  a:hover{
    color: #676767;
  }
  
  p {font-size: 18px;}

  .container-title {
    padding-top: 0px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #fff;}

  .container-footer {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #333;
    color: #fff;}

  .navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: 0;
    border-radius: 0;
    margin-bottom: 30px;
    font-size: 16px;}
  .navbar-nav  li a:hover {
    color: #fff !important;}
  .navbar-brand {
    font-size: 36px;
    color: #fff;}
  .navbar-brand:hover{
    color:#6495ED;}